<table>
  <thead>
    <th class="name"><%= t('flip.feature.name') %></th>
    <th class="description"><%= t('flip.feature.description') %></th>
    <th class="status"><%= t('flip.feature.state') %></th>

    <% presenter.strategies.each do |strategy| %>
      <th>
        <span class="name"><%= strategy.display_name %></span>
        <span class="description"><%= strategy.description %></span>
      </th>
    <% end %>
      <th>
    </th>
  </thead>

  <tbody>
  <% presenter.definitions.each do |definition| %>
    <tr>
    <td class="name"><%= definition.name %></td>
    <td class="description"><%= definition.description %></td>

    <% label, css = presenter.label_and_css_for(definition) %>
    <%= content_tag :td, label, class: css %>

    <% presenter.strategies.each do |strategy| %>
      <% label, css = presenter.label_and_css_for(definition, strategy) %>

      <%= content_tag :td, class: css do %>
        <span><%= label %></span>

        <% presenter.forms(strategy, definition).each do |form| %>
          <%= button_form(form) %>
        <% end %>
      <% end %>
  <% end %>
  </tr>
  <% end %>
  </tbody>

</table>
